{{- $email := promptString "email" -}}
{{- $home := promptString "home dir" -}}
{{- $context := promptString "home or work" -}}

[data]
    email = {{ $email | quote }}
    home = {{ $home | quote }}
    context = {{ $context | quote }}
